{% extends "main.html" %}
{% load static %}

{% block content %}
<script src="https://js.stripe.com/v3/"></script>
<style>

      
      .card-1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      }
      
      .card-1:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }
</style>
<style>
    .StripeElement {
      box-sizing: border-box;
  
      height: 40px;
      width: 1000px;
      padding: 10px 12px;
  
      border: 1px solid transparent;
      border-radius: 4px;
      background-color: white;
  
      box-shadow: 0 1px 3px 0 #e6ebf1;
      -webkit-transition: box-shadow 150ms ease;
      transition: box-shadow 150ms ease;
    }
  
    .StripeElement--focus {
      box-shadow: 0 1px 3px 0 #cfd7df;
    }
  
    .StripeElement--invalid {
      border-color: #fa755a;
    }
  
    .StripeElement--webkit-autofill {
      background-color: #fefde5 !important;
    }
  </style>

  <div class='container mt-5'>
    <div class='row'>
        <div class='col-lg-6'>
          <h3>Why Become Pro?</h3>
              <h5>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</h5>
              
  
              <form action="{% url 'premium' %}" method="POST" id='payment-form'>
                  {% csrf_token %}
                  <div class='form-group'>
                      <label> MemberShip Type</label>
                      <select class='form-control' name="membership">
                          <option>Choose</option>
                          <option value="MONHTLY">MONHTLY - 10</option>
                          <option value="YEARLY">YEARLY - 100</option>
                      </select>
                  </div>
                  <div class="form-row">
                    <label for="card-element">
                      Credit or debit card
                    </label>
                    <div id="card-element">
                      
                      <!-- A Stripe Element will be inserted here. -->
                    </div>
    
                    <!-- Used to display form errors. -->
                    <div id="card-errors" role="alert"></div>
                  </div>
                  <div style='clear:left'></div>
                  <hr>

                 <button class='btn btn-primary'>Become Pro</button>
              </form>
        
          </div>
          <div clsss='col-lg-6'>
            <div class="card card-1">
                <img src="{% static 'images/vue.jfif'%}">
            </div>
          </div>
    </div>
  </div>
  <script>
    // Create a Stripe client.
    var stripe = Stripe('pk_test_51JAExNCbKiyyexfdQII2AcRedbxsYVX2SdWhSDWDEBNGNHN7dxXtRqSjNdzfBm9dltskhOddrUEnfcPuzwIwst5g008UFHWcUP');

    // Create an instance of Elements.
    var elements = stripe.elements();

    // Custom styling can be passed to options when creating an Element.
    // (Note that this demo uses a wider set of styles than the guide below.)
    var style = {
      base: {
        color: '#4a86cf',
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSmoothing: 'antialiased',
        fontSize: '16px',
        '::placeholder': {
          color: '#aab7c4'
        }
      },
      invalid: {
        color: '#fa755a',
        iconColor: '#fa755a'
      }
    };

    // Create an instance of the card Element.
    var card = elements.create('card', {style: style});

    // Add an instance of the card Element into the `card-element` <div>.
    card.mount('#card-element');

    // Handle real-time validation errors from the card Element.
    card.addEventListener('change', function(event) {
      var displayError = document.getElementById('card-errors');
      if (event.error) {
        displayError.textContent = event.error.message;
      } else {
        displayError.textContent = '';
      }
    });

    // Handle form submission.
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(event) {
      event.preventDefault();

      stripe.createToken(card).then(function(result) {
        if (result.error) {
          // Inform the user if there was an error.
          var errorElement = document.getElementById('card-errors');
          errorElement.textContent = result.error.message;
        } else {
          // Send the token to your server.
          stripeTokenHandler(result.token);
        }
      });
    });

    // Submit the form with the token ID.
    function stripeTokenHandler(token) {
      // Insert the token ID into the form so it gets submitted to the server
      var form = document.getElementById('payment-form');
      var hiddenInput = document.createElement('input');
      hiddenInput.setAttribute('type', 'hidden');
      hiddenInput.setAttribute('name', 'stripeToken');
      hiddenInput.setAttribute('value', token.id);
      form.appendChild(hiddenInput);

      // Submit the form
      form.submit();
    }
</script>
{% endblock %}